modules = ["bash", "nodejs-20", "python-3.11", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["cairo", "emacsPackages.panda", "ffmpeg-full", "freetype", "ghostscript", "glibcLocales", "gobject-introspection", "gtk3", "nano", "openssh", "pkg-config", "python311Packages.joblib", "python311Packages.pandas", "python311Packages.scikit-learn", "python312Packages.scikit-learn", "qhull", "tcl", "tk", "yakut", "zip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34319
externalPort = 5000

[[ports]]
localPort = 34721
externalPort = 6800

[[ports]]
localPort = 34993
externalPort = 3002

[[ports]]
localPort = 35673
externalPort = 4200

[[ports]]
localPort = 35701
externalPort = 8000

[[ports]]
localPort = 36507
externalPort = 5173

[[ports]]
localPort = 36891
externalPort = 3003

[[ports]]
localPort = 37795
externalPort = 8099

[[ports]]
localPort = 38111
externalPort = 6000

[[ports]]
localPort = 41647
externalPort = 8080

[[ports]]
localPort = 42669
externalPort = 3001

[[ports]]
localPort = 42975
externalPort = 8008

[[ports]]
localPort = 43095
externalPort = 8081

[[ports]]
localPort = 45035
externalPort = 3000

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Game"

[[workflows.workflow]]
name = "Start Game"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[userenv]

[userenv.shared]
VITE_STAR_TOKEN_ADDRESS = "EQAIYlrr3UiMJ9fqI-B4j2nJdiiD7WzyaNL1MX_wiONc4OUi"
VITE_STAR_TOKEN_WALLET_ADDRESS = "EQDy43am74uRimAbuKFthYO4PJY95wzNOpsfOAfBhkwwnC9c"
VITE_PLANET_NFT_ADDRESS = "EQBuZlqecX7qIEHlakYKEqPVtQ5An3XwqDg4DoAh3dNHlHqS"
VITE_PLANET_NFT_ITEM_ADDRESS = "EQCxm_x7fTE-_bpyb4yXdSbd3rck6ctxPNV7HhtDc0PA-JRk"
VITE_REFERRAL_FAUCET_ADDRESS = "EQC4EQAmL5WKePiV0zzRXZjraZdlpqJOgQOVaH_PKs_FVF8a"
VITE_TON_TESTNET_ENDPOINT = "https://testnet.toncenter.com/api/v2/jsonRPC"
VITE_TON_EXPLORER = "https://testnet.tonscan.org"
